/*header*/
.cabecera{
    position: sticky;
    top: 0;
    & #pad{
        padding: 0%;
    }
    & #random{
        background-color: black;
    }
    & .cabecera__menu__logo{
        width: 15%;
        height: 15%;
        display: inline;
        float: left;
    }
@media only screen and (min-width: 200px) and (max-width: 980px) {
    .cabecera__menu__logo{
        width: 50%;
        height: 50%;
        display: inline;
    }
 }
}    
#items{
    color: whitesmoke;
    font-family: $general-fuente;
    font-size: 16px;
    &:hover{
        color: gray;
        transform: scale(1.5);
        transition: all 1s;
    }
}

/*Fin Header*/